

.blueBack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0E46A6;
  flex-shrink: 0;
}

.blackBack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
}

.imageBack {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../public/images/back_image.svg");
  mix-blend-mode: multiply;
}